name: build
on:
  push
jobs:
  do-the-thing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install python
        run: |
          apt update
          apt install -y python
      - name: install repo tool
        run: |
          export REPO=$(mktemp /tmp/repo.XXXXXXXXX)
          curl -o ${REPO} https://storage.googleapis.com/git-repo-downloads/repo
          gpg --recv-key 8BB9AD793E8E6153AF0F9A4416530D5E920F5C65
          mkdir ~/bin/
          curl -s https://storage.googleapis.com/git-repo-downloads/repo.asc | gpg --verify - ${REPO} && install -m 755 ${REPO} ~/bin/repo
      - name: run repo version
        run: |
          export PATH=$HOME/bin
          repo version
